.btn {
    --btn-bg-color: var(--text-color-primary);
    --btn-color: var(--bg-color);


    text-decoration: none;
    border: none;
    border-radius: .5rem;
    font: var(--span);

    background: var(--btn-bg-color);
    color: var(--btn-color);

    cursor: pointer;
}

.btn:hover {
    --btn-bg-color: linear-gradient(
      90deg,
      var(--brand-color-secondary) 0%,
      var(--brand-color-primary) 100%
    );
    --btn-color: var(--surface-color);
}

.btn[aria-label]{
    position: relative;

    &::before{
        position: absolute;
        content: "";
        background-color: var(--bg-color);
        border-radius: inherit;
        inset: 1px;
        
    }

    &::after{
        content: attr(aria-label);
        background: var(--btn-bg-color);
        -webkit-background-clip: text;
        background-clip: text;
        color: transparent;

        position: relative;
        z-index: 10;
    }
}

.btn-sm{
    padding: .5rem 1rem;
    font: 500 0.875rem/1 var(--font-family);
}

.btn-md{
    padding: .75rem 1.5rem;
    font: 500 1rem/1.6 var(--font-family);
}

.btn-lg{
    padding: 1rem 2rem;
    font: 500 1.125rem/1 var(--font-family);
}

@media (width >= 80em){
    .btn-sm{
        padding: .75rem 1.5rem;
    }
    
    .btn-md{
        padding: 1rem 2rem;
    }
    
}