nav img{
    margin-right: auto;
}

@media (width >= 80em){
    .desktop-only{
        display: flex;
    }
    .link-nav{
        text-decoration: none;
        color: var(--text-color-secondary);
        cursor: pointer;
    }
    

    .link-nav:hover{
        background: linear-gradient(90deg, var(--brand-color-secondary) 0%, var(--brand-color-primary) 100%);
        -webkit-background-clip: text;
        background-clip: text;
        color: transparent;
    }
}